/* Google Font Link  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Shared Style  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.display-flex {
    display: flex;
}

.container , main > section ,.footer-container {
    margin: 0 auto;
    max-width: 1440px;
}


.orange-bg{
    background-color: rgba(255, 144, 14, 0.1);
}

.heading-primary {
    font-size: 2.9rem;
    font-weight: bold;
    color:#131313;
    
}

.margin-bottom{
    margin-bottom: 24px;
}

.paragraph{
    font-size: 1.1rem;
    line-height: 26px;
    font-weight: 500;
    color: #424242;
}

.color-dark{
    color:#131313;
}

.btn-primary {
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 32px;
    
}

.image {
    width: 100%;
}

.padding { 
    padding: 130px 0 0;
}



/* Main Style */

header {
    padding: 50px 0 45px;
    margin: 0 auto;

}

/* nav styles */

#nav-container {
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

#nav-container .nav-item{
    gap: 30px;
    
}


.nav-item li {
    list-style: none;
}

.nav-item li a {
    text-decoration: none;
}

.hide {
    display: none;
}


/* Hero Styles */

#hero-container {
    margin-top: 102px;
}
#hero-container .hero-content {
    text-align: center;
    max-width: 860px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.hero-title {
    font-size: 4rem;
    font-weight: bold;
    color: #131313;
    margin-bottom: 25px;
}



/* Team Style  */


#team {
    align-items: center;
    padding: 85px 0 130px;
}

.team-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-right: 76px;
}



#quick {
    color: #727272;
    font-weight: 500;
}

#feature {
    display: block;
    color: #FF900E;
}


/* Facts styles */
.fact-card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
    margin-top: 100px;
}

.fact-card {
    border: 1px solid #FF900E;
    padding: 45px 0;
    text-align: center;
    border-radius: 8px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    
}

.fact-card .card-number {
    font-size: 2.8rem;
    font-weight: 600;
    color: #424242;
    margin-top: 10px;
}
.fact-card .card-paragraph {
    font-size: 1.2rem;
    font-weight: 600;
    color: #727272;
    margin-top: 10px;
}

/* Sponsors Styles */

.sponsors-container .sponsors-head {
    max-width: 542px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.sponsors-logo {
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    
    
}

.sponsors-logo img {
    filter: grayscale(100%);
    margin: 0 auto;
}

/* Speciality related style  */

.speciality-container{
    gap: 146px;
}

.speciality-content {
    max-width: 580px;
}


.speciality-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 24px;
}

.speciality-card{
    padding: 30px;
    background-color: white;
    margin-top: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
}

.speciality-card h4 {
    font-size: 1.1rem;
    color: #131313;
    margin-bottom: 10px;
}

.speciality-image img {
    width: 100%;
}

.speciality-image .speciality-btn {
    padding: 45px 42px;
    position: relative;
    left: -92px;
    top: -100px;
    background-color: #FF900E;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    margin-top: 32px;
}

#year {
    font-size: 4rem;
    font-weight: 600;
    line-height: 70px;
    display: block;

}
#experience {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 25px;
    display: block;

}

/* Footer style */

.footer-container{
    text-align: center;
    padding: 40px 0;
    background-color: #FFF4E7;
    border-radius: 8px;
    margin-bottom: 70px;
}