/* Google Font Link  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Shared Style  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

.display-flex {
    display: flex;
}


.orange-bg{
    background-color: rgba(255, 144, 14, 0.1);
}

.heading {
    font-size: 45px;
    font-weight: bold;
    color:#131313;
}

.color-dark{
    color:#131313;
}

/* Main Style */

header {
    padding-top: 50px;
    height: 100vh;
    margin: 0 auto;

}

#nav-container {
    width: 75%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

#nav-container .nav-item{
    gap: 30px;
}

.nav-item li {
    list-style: none;
}

.nav-item li a {
    text-decoration: none;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #424242;
}


